<!-- Load the Polymer.Element base class -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-new-view">
  <!-- Defines the element's style and local DOM -->
  <template>
    <style>
      :host {
        display: block;

        padding: 16px;
      }
    </style>

    <h1>Grid view</h1>
    <paper-checkbox>Ready to deploy!</paper-checkbox>
    <dom-bind>
        <template is="dom-bind">
          <!-- Fetch an array of users to be shown in the grid -->
          <iron-ajax auto url="https://demo.vaadin.com/demo-data/1.0/people?count=200" handle-as="json" last-response="{{users}}"></iron-ajax>
      
          <!-- The array is set as the <vaadin-grid>'s "items" property -->
          <vaadin-grid aria-label="Basic Binding Example" items="[[users.result]]">
      
            <vaadin-grid-column width="50px" flex-grow="0">
              <template class="header">#</template>
              <template>[[index]]</template>
              <!-- If necessary, the footer could be set using <template class="footer"> -->
              <template class="footer">#</template>
            </vaadin-grid-column>
      
            <vaadin-grid-column>
              <template class="header">First Name</template>
              <template>[[item.firstName]]</template>
              <template class="footer">First Name</template>
            </vaadin-grid-column>
      
            <vaadin-grid-column>
              <template class="header">Last Name</template>
              <template>[[item.lastName]]</template>
              <template class="footer">Last Name</template>
            </vaadin-grid-column>
      
            <vaadin-grid-column width="150px">
              <template class="header">Address</template>
              <template>
                <p style="white-space: normal">[[item.address.street]], [[item.address.city]]</p>
              </template>
              <template class="footer">Address</template>
            </vaadin-grid-column>
      
          </vaadin-grid>
        </template>
      </dom-bind>
  </template>
  <script>
    // Your new element extends the Polymer.Element base class
    class MyNewView extends Polymer.Element {
      static get is() { return 'my-new-view'; }
    }
    //Now, register your new custom element so the browser can use it
    customElements.define(MyNewView.is, MyNewView);
  </script>
</dom-module>

